<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="Synapse" 
			connectionString="Server=azupsynws01.sql.azuresynapse.net; Authentication=Active Directory Password; Database=AZUPSQLP01; UID=paul.uhrich@bonavistaenergy.com; PWD=Snuffleupagus13!;"
			providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>